utils/__pycache__
models/__pycache__
experiments/__pycache__
Data
log_fedmia
attack_logs
*/launch.json
**.venv
**__pycache__**

# data
data
reports

# Miscellaneous
BINN-and-LiRA
fedmia.pdf
BINN.pdf
reports_old

#logs
logs

# report imagery
charts
aggregated_report